rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
   	function isLogin() {
      return request.auth.uid != null;
    }
    function isAdmin() {
      return isLogin() &&
         get(/databases/$(database)/documents/roles/$(request.auth.token.email)).data.isAdmin;
    }
    function isMine(user_id) {
      return isLogin() &&
         get(/databases/$(database)/documents/user/$(user_id)).data.email==request.auth.token.email;
    }
    
		match /{document=**} {
      allow read, write: if isAdmin();
    }
		match /user/{user_id=**} {
      allow read, write : if isMine(user_id);
    }
		match /template/{document=**} {
      allow read : if true;
      allow create: if isAdmin();
    }
		match /roles/{document=**} {
      allow read : if true;
      allow create: if isAdmin();
    }
    
  }
}